#all {
		width: 700px;
		height: 1200px;
		margin: auto;
	}
.hang1, .hang2, .hang3 {
	width: 700px;
	height: 400px;
}
.do1,.do2,.do3 {
	height: 100px;
	background: red;
	margin: auto;
}
.do1 {
	width: 300px;
}
.do2 {
	width: 500px;
}
.do3 {
	width: 700px;
}
.xam1, .xam2 {
	width: 100px;
	height: 300px;
	background: grey;
	float: left;
}
.hang1 .xam1 {
	margin-left: 200px;
}
.hang1 .xam2 {
	margin-left: 100px;
}
.hang2 .xam1 {
	margin-left: 100px;
}
.hang2 .xam2 {
	margin-left: 300px;
}
.hang3 .xam1 {
	margin-left: 0px;
}
.hang3 .xam2 {
	margin-left: 500px;
}