#all {
	width: 700px;
	height: 1200px;
	margin: auto;
}
.hang {
	width: 700px;
	height: 100px;
}
div div div {
	width: 100px;
	height: 100px;
	float: left;
}
.trang {
	background: white;
}
.do {
	background: red;
}
.xam {
	background: grey;
}